node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.DS_Store
*.log
playwright-report
test-results
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
.env
.env.local
.env.*.local
